*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none;}
li{list-style: none;}
html, body{width: 100%; height: 100%; font-family: 'Noto Sans KR', sans-serif; background-image: url("../img/bg.png");}
.n{-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}
.wrap{min-width: 1200px; width: 95%; margin: auto;}
.bgC{background-repeat: no-repeat; background-position: center; background-size: contain;}
.bgV{background-repeat: no-repeat; background-position: center; background-size: cover;}

#index{display: grid; grid-template-columns: 1fr 450px;}
#index > *{height: 100vh; position: relative;}
#index > #user{background-color: #212121;}
#index > #user > #logo{width: 100%; height: auto;}
#index > #user > #logo img{width: 325px; margin: 30px auto 25px; display: block;}
#index > #user > form{width: 100%; height: 110px; padding: 0 40px;}
#index > #user > form > *{text-align: center; display: block;}
#index > #user > form > h2{color: #FF613A; font-weight: 400; font-size: 24px;}
#index > #user > form > span{color: #FF613A; font-weight: 400; font-size: 30px;}
#index > #user > #rank{width: 300px; height: 300px; margin: auto; background-color: #FF613A; border-radius: 50%;}
#index > #user > #rank{text-align: center; line-height: 300px;}
#index > #user > #rank > p{text-align: center; line-height: 300px; color: white}
#index > #user > #rank > p > span{font-size: 100px; line-height: 300px; position: relative;}
/* #index > #user > #rank > p > span::after{content: ""; position: absolute; width: 2px; height: 100px; background-color: white; top: 30%; right: 0; transform: rotate(30deg);} */
